/*
0-600px Phone
600 - 900px tablet/Portrait
900 - 1200 tablet landscape
1200-1800 normal styles
1800 + big desktop

*/
/*
breakpoint arguments:
-phone
-tabport
-tabland
-big-desktop
*/
@keyframes fadeIn {
  from {
    color: transparent; }
  to {
    color: whitesmoke; } }

*,
*::before
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* change box model so borders and paddings are no longer added to the height and width of the box */ }

body {
  background-color: #0d0a35;
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 1rem; } }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* font is inherited from the body which is why we manipulate it there. */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #856a6a; }

.u-margin-small {
  margin-top: 3rem; }

.u-margin-medium {
  margin-top: 5rem; }

.adventures {
  position: relative;
  height: 150vh;
  top: -5rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.616), white), url(../images/carousel-backround.jpg);
  clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);
  -webkit-background-clip: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);
  background-position: top;
  background-repeat: no repeat;
  background-size: cover;
  padding: 20rem 0;
  margin-top: -15vh; }
  @media (max-width: 75em) {
    .adventures {
      height: 130vh; } }
  @media (max-width: 56.25em) {
    .adventures {
      clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
      -webkit-background-clip: polygon(0 0%, 100% 0, 100% 100%, 0% 100%); } }
  @media (max-width: 37.5em) {
    .adventures {
      display: none; } }

h2 {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  text-align: center;
  margin-bottom: 5rem;
  color: black; }
  @media (max-width: 56.25em) {
    h2 {
      transform: translateY(-15rem);
      margin-bottom: 1rem; } }
  @media (max-width: 37.5em) {
    h2 {
      transform: translateY(-15rem); } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  background-color: transparent; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: rgba(247, 247, 247, 0.85); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #83fdff, #1e800a); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #e69f48, #ebd843); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #776ac7, #ce4fda); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px; }
    .card__picture--1 {
      background-image: url(../images/country-adventure.jpg); }
    .card__picture--2 {
      background-image: url(../images/food-adventure.jpg); }
    .card__picture--3 {
      background-image: url(../images/nightlife.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: .5rem 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(131, 253, 255, 0.85), rgba(30, 128, 10, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(230, 159, 72, 0.85), rgba(235, 216, 67, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(119, 106, 199, 0.85), rgba(206, 79, 218, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 700; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    text-transform: uppercase;
    font-size: 1.4rem; }
  .card__price-value {
    font-weight: 300;
    font-size: 6rem; }

.book {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 75em) {
    .book {
      margin-top: 3rem;
      border: none;
      background-color: transparent; } }
  @media (max-width: 56.25em) {
    .book {
      height: 40%;
      margin-top: 3rem;
      border: none;
      background-color: transparent; } }
  @media (max-width: 37.5em) {
    .book {
      height: 20%;
      background-color: transparent; } }

.form__group {
  position: relative;
  left: 10rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  @media (max-width: 56.25em) {
    .form__group {
      margin-top: -5rem; } }

.form__input {
  position: relative;
  width: 60rem;
  padding: 1.5rem 2rem;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 50rem; } }
  @media (max-width: 56.25em) {
    .form__input {
      width: 40rem; } }
  @media (max-width: 37.5em) {
    .form__input {
      width: 30rem;
      right: 13rem; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ebd843; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #e69f48; }
  .form__input::-webkit-input-placeholder {
    color: #f7f7f7; }

.form__label {
  display: block;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  left: 35%;
  top: 2rem;
  color: #fff;
  display: block;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__label {
      font-size: 1rem; } }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10rem) rotate(90deg); }

.form__button {
  display: block;
  position: absolute;
  left: 40%;
  bottom: 60%; }
  @media (max-width: 56.25em) {
    .form__button {
      left: 20rem;
      top: -3rem; } }
  @media (max-width: 37.5em) {
    .form__button {
      left: 15%;
      bottom: 5rem; } }

.form__heading {
  top: -5rem;
  right: -1rem; }
  @media (max-width: 56.25em) {
    .form__heading {
      top: 5rem; } }
  @media (max-width: 37.5em) {
    .form__heading {
      right: 2rem; } }

.btn:link, .btn .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  /* transitions animated propeties*/
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--white::after {
  background-color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem) / 4) + 2 * 6rem); }

footer {
  position: relative;
  height: 20vh;
  background-color: #343a40;
  transform: translateY(-20rem); }

.bottom-link {
  font-weight: 100;
  font-size: 4rem;
  padding: 8rem;
  color: rgba(255, 255, 255, 0.5); }

.bottom-link:hover {
  text-decoration: none;
  color: white; }

.footer__link {
  position: relative;
  top: 2rem;
  text-align: center; }

.end {
  position: relative;
  text-align: center;
  top: 5rem;
  font-size: 2rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.5); }

.header {
  background-image: url("../images/header-photo.jpg");
  height: 90vh;
  padding: 3%;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%); }
  @media (max-width: 75em) {
    .header {
      height: 85vh; } }
  @media (max-width: 56.25em) {
    .header {
      height: 80vh; } }
  .header__textbox {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center; }
    @media (max-width: 56.25em) {
      .header__textbox {
        bottom: 5rem; } }
    .header__textbox--heading {
      color: whitesmoke;
      font-size: 4rem;
      font-weight: 400;
      animation-name: fadeIn;
      animation-duration: 3s;
      bottom: 15px; }
    .header__textbox--span {
      font-size: 3rem;
      color: white;
      font-weight: 100;
      position: relative;
      display: block;
      bottom: 5px;
      animation-name: fadeIn;
      animation-duration: 3s; }

.navbar {
  padding: 2rem; }
  .navbar-brand {
    font-size: 2rem; }
  .navbar-nav {
    position: absolute;
    left: 60%; }
  .navbar .nav-item {
    font-weight: 100;
    font-size: 4rem;
    padding: 3rem; }

.section-book {
  height: 110vh;
  padding: 15rem, 0;
  background-image: url(../images/form.jpg);
  position: relative;
  -webkit-background-clip: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  top: -15rem; }
  @media (max-width: 56.25em) {
    .section-book {
      height: 90vh;
      -webkit-background-clip: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%); } }
  @media (max-width: 56.25em) {
    .section-book {
      height: 80vh; } }
  @media (max-width: 37.5em) {
    .section-book {
      height: 65vh; } }
