*,
*::before
*::after {
  Margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* change box model so borders and paddings are no longer added to the height and width of the box */ }

html {
  font-size: 62.5%; 
  font-family: 'Noto', sans-serif;
}
body {
    
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    padding: 0% 5% 0 5%;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
   
}

.header {
    background-image: url("/images/header-photo.jpg");
    height: 100vh;
    padding: 3%;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    
}



.header__textbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.header__textbox--heading {
    
   color: rgb(245, 245, 245);
   font-size: 6rem;
   font-weight: 400;
   animation-name: fadeIn;
    animation-duration: 3s;
}

.header__textbox--span{
    font-size: 4rem;
    color: white;
    font-weight: 300;
    position: relative;
    display: block;
   bottom: 2.5rem;
   animation-name: fadeIn;
    animation-duration: 3s;
}



.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    /* transitions animated propeties*/
    position: relative;
    font-size: 1.6rem;
    
}
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn--white {
    background-color: #fff;
    color: #777; 
   
}

    .btn--white::after {
      background-color: #fff; }

      @keyframes fadeIn {
          from {color: transparent;}
          to {color: rgb(245, 245, 245);}
      }


      .carousel {
        position: relative;
        height: 100vh;
        background-color: #fff;
        transform: skewY(-3deg);
        top: -5rem;
    }

/*============  UTILITY CLASSES =================== */  


.u-margin-small {
    margin-top: 3rem;
}

.u-margin-medium {
    margin-top: 5rem;
}


.carousel-caption {
    text-align: left;
    position: absolute;
    top: 2rem;
   
}



.carousel-inner {
    position: relative;
    justify-content: center;
    align-content: center;
    height: 80vh;
    width: 80vw;
    background-position: cover;
    transform: skewY(6deg);
    top: 8rem;
    left: 8rem;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    
}



h2 {
    font-size: 6rem;
    font-weight: 400;
    
}

p {
    
    font-size: 3rem;
    font-weight: 300;
   
}

footer {
    position: relative;
    height: 60vh;
    background-color: #777;
    top: -8.5rem;
}


a {
    font-weight: 100;
    font-size: 6rem;
    text-decoration: none;
    padding: 10rem;
    color: black;
   
}

a:hover {
    text-decoration: none;
}

.footer__link {
    position: relative;
    top: 8rem;
    left: 10rem;
}

.end {
    position: relative;
    text-align: center;
    top: 5rem;
    right: 7rem;
}
