@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerItem {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin linkfont {
    
    font-weight: 100;
    font-size: 4rem;
}

@mixin headerfont {
    font-size: 6rem;
    font-weight: 100;
}