$color-body: rgb(13, 10, 53);
$color-primary-light: #e69f48;
$color-primary-dark: #ebd843;

$color-secondary-light: #83fdff;
$color-secondary-dark: #1e800a;

$color-tertiary-light: #776ac7;
$color-tertiary-dark: #ce4fda;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//box shadow

$shadow-property: 0 1.5rem 4rem rgba($color-black, .15);
$shadow-box-lg:  0 2.5rem 4rem rgba($color-black, .4);