.adventures {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    
   
   
    
    background-image:linear-gradient(rgba(255, 255, 255, 0.616), white), url(../images/carousel-backround.jpg);
  
    background-position: top;
    background-repeat: no repeat;
    background-size: cover;
    
    padding: 15rem 0;
   

   @include respond(tabland) {
   
}

   @include respond(tabport) {
    
}

@include respond(phone) {
 
   
}

   
}

h2 {
    @include headerfont;
   
    position: relative;
    text-align: center;
    margin-bottom: 5rem;
    color: black;
   

    
   
}

.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    
    
    background-color: transparent;

    

    
   
    

    &__side {
        
   
        
       
        
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: $shadow-property;
       

        &--front {
            background-color: rgba($color-grey-light-1, .85);
        }

        &--back {
           
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom,
                $color-primary-light,
                $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark);
            }
        }

    }

  

    &:hover &__side--front {
        transform: scale(1rem);
    }

    &:hover &__side--back {
        
        }
        // FRONT SDE STYLING
    &__picture {
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0,100% 85%, 0 100%);
        -webkit-clip-path:  polygon(0 0, 100% 0,100% 85%, 0 100%);
        border-top-left-radius: 3px;
        &--1 {
            background-image: url(../images/country-adventure.jpg);
        }

        &--2 {
            background-image: url(../images/food-adventure.jpg);
        }

        &--3 {
            background-image: url(../images/nightlife.jpg);
        }



    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        
        text-align: right;
        

      
    }

    &__heading-span {
        display: flex;
        flex-wrap: wrap;
        padding: .5rem 1rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }
        
        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3{
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            
            margin: 0 auto;

        

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                font-weight: 700;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }

               
            }    

            
        }
    }

    &__cta {
        @include centerItem;
        position: absolute;
        
        text-align: center;
    }

    
    
    
    

    &__price-value {
        font-weight: 300;
        font-size: 6rem;
    }

    @include respond(tabland) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
    }

    @include respond(tabport) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}






