.adventures {
    position: relative;
    height: 150vh;
   
    
    top: -5rem;
    background-image:linear-gradient(rgba(255, 255, 255, 0.616), white), url(../images/carousel-backround.jpg);
    clip-path: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);
    -webkit-background-clip: polygon(0 15%, 100% 0, 100% 90%, 0% 100%);
    background-position: top;
    background-repeat: no repeat;
    background-size: cover;
    
    padding: 20rem 0;
   margin-top: -15vh;

   @include respond(tabland) {
   height: 120vh;
}

   @include respond(tabport) {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    -webkit-background-clip: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    height: 100vh;
}

   
}

h2 {
    @include headerfont;
   
    position: relative;
    text-align: center;
    
   
}

.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    width: 90%;
    margin-top: 5rem;
    
    
    background-color: transparent;

    
    

    &__side {
        
   
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: $shadow-property;
       

        &--front {
            background-color: rgba($color-grey-light-1, .85);
        }

        &--back {
           
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom,
                $color-primary-light,
                $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark);
            }
        }

    }

  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
        }
        // FRONT SDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0,100% 85%, 0 100%);
        -webkit-clip-path:  polygon(0 0, 100% 0,100% 85%, 0 100%);
        border-top-left-radius: 3px;
        &--1 {
            background-image: url(../images/country-adventure.jpg);
        }

        &--2 {
            background-image: url(../images/food-adventure.jpg);
        }

        &--3 {
            background-image: url(../images/nightlife.jpg);
        }



    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;

        @include respond(tabport) {
            font-size: 1.8rem
         }
    }

    &__heading-span {
        padding: .5rem 1rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85), 
            rgba($color-secondary-dark, .85));
        }
        
        &--2 {
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3{
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
        

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                font-weight: 700;
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }

                @include respond(tabport) {
                   font-size: 1rem;
                 }

                 @include respond(tabland) {
                    font-size: 1.3rem;
                  }
            }    
        }
    }

    &__cta {
        @include centerItem;
        position: absolute;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    
    
    &__price-only {
           text-transform: uppercase;
            font-size: 1.4rem;
    }

    &__price-value {
        font-weight: 300;
        font-size: 6rem;
    }
    
}


