.book {
    background-color: rgba($color-white, .2) ;
    width: 60%;
    height: 60%;
    
    position: absolute;
    @include centerItem;
    border: 2px;
    border-style: outset;

    @include respond(tabport) {
        height: 45%;
       margin-top: 3rem;
       border: none;
     }

     @include respond(phone) {
        height: 45%;
       margin-top: 3rem;
     }

    
}    

    .form {
        
        &__group {

        position: relative;
        left: 8rem;
        
        &:not(:last-child) {
            margin-bottom: 4rem;
            
        }

        @include respond(tabport) {
           
           margin-top: -5rem;
         }
    
         @include respond(phone) {
          
           margin-top: 6rem;
         }

    }   

        &__input {
            position: relative;
            width: 60rem;
            padding: 1.5rem 2rem;
            color: inherit;
            font-family: inherit;
            font-size: 1.5rem;
            text-align: center;
            border-bottom: 3px solid transparent;
            border-radius: 3px;
            border: none;
            background-color: rgba($color-white, .5);
            transition: all .3s;

            @include respond(tabland) {
                width: 50rem;
               
             }

             @include respond(tabport) {
                width: 40rem;
               
             }

            

             

            &:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
                border-bottom: 3px solid $color-primary-dark;
            }

            &:focus:invalid {
                border-bottom: 3px solid $color-primary-light;
            }
    
            &::-webkit-input-placeholder {
                color: $color-grey-light-1;
            }
        }
        
        &__label {
            display: block;
            font-family: inherit;
            font-size: 2rem;
            font-weight: 400;
            position: relative;
            left: 35%;
            top: 2rem;
            color: $color-white;
            display: block;
            transition: all .3s;

            @include respond(tabport) {
                font-size: 1rem;
               
             }

        }

        &__input:placeholder-shown + &__label {
            opacity: 0;
            visibility: hidden;
            transform: rotate(90deg);
        }

        &__button {
           display: block;
           position: absolute;
           left: 40%;
           bottom: 60%;
           @include respond(tabport) {
            left: 20rem;
            top: -3rem;
         }

           @include respond(phone) {
            left: 30%;
           bottom: 5rem;
         }
           
        }
   
    }



.form__heading {
    top: -5rem;
}