
footer {
    position: relative;
    overflow: hidden;
    background-color: #343a40;
   transform: translateY(-20rem)

  
   
    
}



.bottom-link {
@include linkfont;
   padding: 8rem;
    
    color: rgba(255, 255, 255, 0.5);
   
}

.bottom-link:hover {
    text-decoration: none;
    
    color: white;
}

.footer__link {
    position: relative;
   top: 2rem;
    text-align: center;
    
}

.end {
    position: relative;
    text-align: center;
    top: 5rem;
    font-size: 2rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
}