
footer {
    position: relative;
    height: 30vh;
    background-color: #777;
   
    top: -20rem;
    
}



a {
    font-weight: 100;
    font-size: 5rem;
   
    padding: 8rem;
    color: black;
   
}

.bottom-link:hover {
    text-decoration: none;
    font-size: 5rem;
    color: white;
}

.footer__link {
    position: relative;
   top: 2rem;
    text-align: center;
    
}

.end {
    position: relative;
    text-align: center;
    top: 5rem;
    font-weight: 100;
}