.header {
    background-image: url("../images/header-photo.jpg");
    height: 90vh;
    padding: 3%;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);


    


    &__textbox {
        @include centerItem;
        position: absolute;
        text-align: center;
        
     

    @include respond(tabport) {
        bottom: 5rem;
    }


        &--heading {
    
            color: rgb(245, 245, 245);
            font-size: 4rem;
            font-weight: 400;
            animation-name: fadeIn;
            animation-duration: 3s;
            bottom: 15px;
        }
 
        &--span{
            font-size: 3rem;
            color: white;
            font-weight: 100;
            position: relative;
            display: block;
            bottom: 5px;
            animation-name: fadeIn;
            animation-duration: 3s;
        }

    }
  
    
}