*,
*::before
*::after {
  Margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* change box model so borders and paddings are no longer added to the height and width of the box */ }



  body {
    
    background-color: rgb(13, 10, 53);
    box-sizing: border-box;
    padding: 0% 5% 0 5%;
    
}



p {
    
    font-size: 3rem;
    font-weight: 300;
   
}